################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/models/myRNN/__pycache__
/data/__pycache__
