################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/models/myRNN/__pycache__
/data/__pycache__
*.pyc
/models/savedModels
/check_points
/data
/figures
/api_keys.cfg